/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root{
    --pinkis-color:#ff4c68;
    --white-color:#fff;
    --orange-red-color:#ef8172;
    --grey-color:#8f8f8f;
}



.container-fluid{
    padding: 1% 15%;
}
/* title section */
#title{
    background-color: var(--pinkis-color);
    overflow: hidden;
    padding: 0 0 10% 0;

}
.title-header{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    color: var(--white-color);
}


/* Navigation bar */
.navbar{
    margin: 3% 0;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 2rem;
}
.download-btn{
    margin: 2rem 1rem 2rem 0;

}
.title-img{
    transform: rotate(21deg);
    position: absolute;
    width:25%;
    left: 55%;
}

/* Feature section */
#features{
    padding: 7% 15%;
    background-color: var(--white-color);
    position: relative;


}
.feature-box{
   padding: 5%;

}
.features-header{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.features-paragraph{
    color: var(--grey-color);
}
.feature-icon{
    font-size: 4rem;
    color: var(--orange-red-color);
}
.feature-icon:hover{
    color: var(--pinkis-color);
}

/* testimonials section */
#testimonials{
    background-color: var(--orange-red-color);
    color: var(--white-color);
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin:20px;
}
.carousel-item{
    padding: 7% 15%;
}

/* press section */
#press{
    padding: 1% 15%;
    background-color: var(--orange-red-color);

}
.press-logo{
    width: 20%;
    padding: 3rem 2rem;
}

/* card section */
#pricing{
    padding: 100px;
}


/* Call to Action */
#cta{
    background-color: var(--pinkis-color);
    padding: 7% 15%;
}
.cta-header{
    font-size: 3rem;
    color: var(--white-color);
    padding: 3% 0;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}

/* Footer section */
#footer{
    padding: 5% 15%;
}
.footer-icon{
    padding: 0 5px;
}
.footer-para{
    color: var(--grey-color);
    font-size: 12px;
    font-weight: 600;
    margin: 2% 0;
}

@media (max-width:1000px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
        width: 40%;
    }
}
@media (max-width:530px){
    .title-header{
        font-size: 1.7rem;
    }
    .download-btn{
        padding:.25rem 0.5rem;
        margin: 1rem;
    }
    .title-img{
        width: 50%;
    }
    .card{
        min-width: 260px;
    }
    #pricing{
        padding: 20px;
    }
    .testimonial-text{
        font-size: 25px;
        text-align: center;
    }
    .press-logo{
        width:50%;
        padding: 15px;
    }
    .navbar-brand{
        font-size: 1.8rem;
    }
    .navbar-toggler-icon{
        width: 20px;
    }
}